<nav class="navbar navbar-dark bg-primary navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home" style="color: white; font-weight: bold;">bumpWise</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active-link"
            [routerLinkActiveOptions]="{exact:true}"><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/practitioner" routerLinkActive="active-link"><b>Practitioners</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/appointment" routerLinkActive="active-link"><b>Book Appointment</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active-link"><b>Contact</b></a>
        </li>
        <li class="nav-item" *ngIf="role=='Admin'">
          <a class="nav-link" routerLink="/admin-portal" routerLinkActive="active-link"><b>Admin Portal</b></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/doctorlandingpage" routerLinkActive="active-link"><b>Doctors signin Approval</b></a>
        </li> -->
        <li class="nav-item" *ngIf="role=='Doctor'">
          <a class="nav-link" routerLink="/upcomingappointment" routerLinkActive="active-link"><b>Upcoming
              Appointments</b></a>
        </li>
        <li class="nav-item" *ngIf="role=='Admin'">
          <a class="nav-link" routerLink="/admin-dashboard" routerLinkActive="active-link"><b>Dashboard</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="banner">
  <div class="content">
    <h1 class="mb-5" routerLink="home"><i>bumpWise </i><br /> Motherhood wiser</h1>
    <a routerLink="/practitioner"><b>Practitioners</b><i class="bi bi-arrow-right"></i></a>
  </div>
</div>
<h1 class="text-center">How to get <span class="highlight">Video Consultation</span>
  <p>Role:{{role}}</p>
</h1>

<!-- stepbox  -->
<div class="row mt-5 justify-conten-center">
  <div class="col-lg-4 mt-2 " >
    <div class="card h-100" style="width: 18rem; padding:20px;">
      <div class="card-body">
        <h4 class="card-title"><b>C sections</b></h4>
        <p class="card-text">The C-Sections Department at [Hospital Name] is dedicated to providing exceptional care and support to expectant mothers who require a Cesarean section (C-section) for the safe delivery of their babies. We understand that a C-section can be an anxiety-inducing experience for many women, and our specialized department aims to create a positive and empowering environment throughout the entire process.</p>
        <a href="#" class="btn btn-primary">See more</a>
      </div>
      <img class="card-img-bottom" src="../../../assets/images/card1.jpeg" alt="Card image">
    </div>
  </div>
  
  <div class="col-lg-4 mt-2 ">
    <div class="card h-100" style="width: 18rem;padding:20px;">
      <div class="card-body">
        <h4 class="card-title">Baby Care</h4>
        <p class="card-text">Providing the best possible care for babies, ensuring their health, safety, and overall well-being. Our specialized baby care services are designed to meet the unique needs of infants and support parents in their journey of nurturing and raising their little ones.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
      <img class="card-img-bottom" src="../../../assets/images/pexels-ольга-жарикова-11065317.jpg" alt="Card image">
    </div>
  </div>

  <div class="col-lg-4 mt-2 ">
    <div class="card h-100" style="width: 18rem; ">
      <div class="card-body">
        <h4 class="card-title">Postpartum Care</h4>
        <p class="card-text">Supporting Mothers' Recovery and Well-being. We understand that the postpartum period is a crucial time for new mothers as they navigate the physical, emotional, and lifestyle changes that come with childbirth. Our dedicated team of healthcare professionals is committed to providing comprehensive postpartum care, ensuring the well-being and recovery of mothers during this important phase.</p>
        <a href="#" class="btn btn-primary">See Profile</a>
      </div>
      <img class="card-img-bottom" src="../../../assets/images/excer.jpeg" alt="Card image">
    </div>
  </div>
</div>
    <!-- three  -->
    <!-- <div class="col-lg-4 mt-2">
            <div class="stepBox">
                
                <p>Lab appoinments</p>
            </div>
        </div> -->
    <!-- </div>
</div> -->



    <!-- foodbox  -->
    <div class="container mt-4 mb-4">
      <h1 class="text-center">we assure you <span class="highlight"> live medicine free life</span></h1>

<!-- 
      <a routerLink="/practitioners" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a> -->
    </div>
    <div class="container footer mt-5 bg-primary ">
      <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
          <h1>WombWise</h1>
          <p>A wiser Parenthood</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-5">
          <a routerLink="">Home</a>
          <a routerLink="/practitioner">Practitioners</a>
          <a routerLink="/appointment">Book Appointment</a>
          <a routerLink="contact">Contact</a>
          <a routerLink="/admin-portal">Admin Portal</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
          <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
          <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
    