/* .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    padding: 8px 12px;
    margin-right: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  form {
    margin-top: 0;
  }
  
.doctor-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.action-button {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.approve-button {
  background-color: #4CAF50;
  color: white;
}

.reject-button {
  background-color: #FF0000;
  color: white;
} */


/* Navigation */
.container-fluid.footer a {
  color: #fff; 
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

/* Social Media Icons */
.container-fluid.footer i {
  color: #fff; /* Icon color */
  font-size: 24px;
  margin-right: 10px;
}
/* Navbar */
.navbar {
  background-color: #007bff; /* Primary color */
}

.navbar-light .navbar-nav .nav-link
{
    color: white
}
.navbar-light .navbar-nav .nav-link.active-link
{
    color: whitesmoke;
    text-decoration:wavy;
}

/* Main Content */
.container {
  margin-top: 100px; /* Adjust as needed */
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

table {
  margin-top: 20px; /* Adjust as needed */
}

th, td {
  padding: 10px;
  text-align: left;
}

/* Footer */
.footer {
  background-color: #007bff; /* Primary color */
  color: #fff; /* Text color */
  padding: 20px;
}

.footer h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.footer p {
  font-size: 16px;
  margin: 5px 0;
}

.footer a {
  color: #fff; /* Link text color */
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.footer i {
  color: #fff; /* Icon color */
  font-size: 24px;
  margin-right: 10px;
}
 .actionbtn{
  margin-right: 20px;
 }
